<h1>⚡⚡⚡⚡⚡ My tasks ⚡⚡⚡⚡⚡<h1>
<ul>
  <% @tasks.each do |task| %>
    <li>[<%= task.completed ? "x" : " " %>] <%= link_to task.title, task_path(task) %>
    <%= link_to "💣", task_path(task.id), method: :delete, data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ul>
<hr>
<%= link_to "🚀 Add a new task 🚀", new_task_path %>